exportPattern("^[[:alpha:]]+")
useDynLib(DirectRepeateR, .registration = TRUE)
export(GetRepeats)
export(PlotRepeats)
export(run_combined_cpp)
export(ConvertToGFF)

import(Rcpp)
import(data.table)
importFrom(ggplot2, "ggplot", "aes", "geom_line", "geom_ribbon", "labs", "theme_minimal", "theme", "element_text", "element_line", "element_blank")
importFrom(utils, "read.csv", "write.csv", "write.table")
importFrom(knitr, "knit")
import(rmarkdown)
