exportPattern("^[[:alpha:]]+")
export(GetRepeats)
export(PlotRepeats)

import(seqinr)
import(data.table)
importFrom(ggplot2, "ggplot", "aes", "geom_line", "labs", "theme_minimal", "theme", "element_text", "element_line", "element_blank")
importFrom(utils, "read.csv", "write.csv", "write.table")
importFrom(knitr, "knit")
import(rmarkdown)
